@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Raleway:wght@100;200;300&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

button,
input,
optgroup,
select,
a,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background: none;
  border: none;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  /* height: 100%;
  width: 100%; */
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main_section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(26,29,35);
  background: linear-gradient(0deg, rgba(26,29,35,1) 0%, rgba(26,29,35,1) 25%, rgba(47,52,64,1) 100%);
  /* background: linear-gradient(0deg, rgb(8, 18, 37) 0%, rgb(8, 18, 37) 25%, rgb(17, 38, 77) 100%); */
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

.outer_content_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  height: 80%;
  width: 80%;
  /* background: rgba(255, 255, 255, 0.384); */
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.inner_container_text_container {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.inner_container_image_container {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
}

.section_image {
  position: relative;
  height: 400px;
  width: 400px;
  background:  url('https://d7hftxdivxxvm.cloudfront.net/?resize_to=width&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FkRXvWtbPFj8pMvw082chOQ%2Flarger.jpg&width=1200&quality=80');
  background-size: cover;
  transition: all 0.8s cubic-bezier(.55,.08,.43,.95);
  transform: translate(800px);
  background-repeat: no-repeat;
}

.section_image::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(100, 25, 25, 0.5)
}

.animation_rightside {
  transform: translate(0, 0);
  
}

.section_title {
  font-size: 3em;
  transition: all 0.8s;
  transition-delay: 0.4s;
  transform: translate(-300px, 0);
  color: rgba(255, 255, 255, 0);
}

.animation_leftside {
  transform: translate(0, 0);
  color: rgba(255, 255, 255, 1)
}


/* TITLE PAGE */

.title_img_background {
  /* align-self: stretch;
  display: flex;
  flex-grow: 1;
  align-items: center;
background-image: radial-gradient(circle, rgba(154,171,207,1) 0%, rgba(154,171,207,1) 15%, rgba(134,148,179,1) 15%, rgba(134,148,179,1) 30%, rgba(106,116,140,1) 30%, rgba(106,116,140,1) 45%, rgb(85, 93, 112) 45%, rgb(85, 93, 112) 60%, rgb(63, 69, 83) 60%, rgb(63, 69, 83) 75%, rgba(0, 0, 0, 0) 75%);
background-repeat: no-repeat; */
/* background-origin: 50% 50%; */
 /* background-position: -500px 0; */
}

.pencil_img {
  /* transform: scaleX(-1); */
  margin-left: 100px;
  z-index: 1;
  transition: all 0.2s;
  /* background: rgb(154,171,207);
  overflow: visible;
  background: radial-gradient(circle, rgba(154,171,207,1) 0%, rgba(154,171,207,1) 25%, rgba(134,148,179,1) 25%, rgba(134,148,179,1) 50%, rgba(106,116,140,1) 50%, rgba(106,116,140,1) 75%, rgba(76,83,100,1) 75%, rgba(47,52,64,1) 100%); */
}

.title_section {
  height: 100%;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.name_title {
  font-weight: 100;
  margin-right: 100px;
  text-align: right;
  font-size: 6em;
  z-index: 1;
}


/* ABOUT ME  */



/* NEXT PAGE */

.arrow_container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
}

.arrow_container:hover .upper_chevron {
  top: 20px;
} 


.upper_chevron {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid white;
}

.upper_chevron {
  position: relative;
  top: 10px;
  z-index: 100;
  transition: all 0.2s;
}

/* BURGER MENU */

.burger_menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;
  /* margin-top: 50px;
  margin-right: 50px; */
}

.burger_menu:hover {
  transform: scale(1.1);
}


.burger_line {
  transition: all 0.2s;
  height: 2px;
  background-color: white;
}

.burger_line_top {
  margin-bottom: 8px;
}
.burger_line_bot {
  margin-top: 8px
}

.burger_line_top_clicked {
  margin-bottom: -1px;
  transform: rotate(45deg)
}

.burger_line_bot_clicked {
  margin-top: -1px;
  transform: rotate(-45deg)
}

/* PERSONAL LINKS */

.personal_links {
  position: absolute;
  top: 50px;
  left: 50px;
  /* color: white; */
}

.personal_links li {
  font-size: 2em;
  transition: all 0.2s;
  cursor: pointer;
  color: rgba(255,255,255, 0.4);
}

.personal_links li:hover {
  color: rgba(255,255,255, 1);
}

.name_tag {
  position: absolute;
  top: 56px;
  left: 100px;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 1.2em;
}

/* MENU */

.menu_overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  left: 0;
  width: 100vw;
  height: 0vh;
  overflow: hidden;
  z-index: 2;
}

.menu_overlay_open {
  height: 100vh;
}

.menu_list {
  height: 100%;
  color: white;
  /* justify-content: space-evenly; */
  display: flex;
  flex-direction: column;
}

.menu_list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  flex-grow: 1;
  /* cursor: pointer; */
  transition: all 0.1s;
}

.menu_list > li:hover {

  /* text-shadow: 4px 4px #F2D0A4;
  transform: translate(-4px, -4px);
  color: white; */
  /* background: rgba(255, 255, 255, 0.5); */
}

.menu_list > li > div {
  transition: all 0.2s;
  color: white;
  cursor: pointer;
}

.menu_list > li > div:hover {
  text-shadow: 4px 4px #3F826D;
  transform: translate(-4px, -4px);
}

/* QUICK NAV */

.quick_nav {
  position: absolute;
  height: 80px;
  top: calc(50vh - 50px);
  left: 50px;
}

.quick_nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quick_nav_line {

  background: white;
  display: block;
  height: 100%;
  width: 100%;
}

.quick_nav_buttons:hover {
  width: 50px;
}

.quick_nav_buttons {
  height: 2px;
  /* background: white; */
  width: 30px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 3px 0px;
}

.quick_nav_line_long {
  width: 50px;
}