@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Raleway:wght@100;200;300&display=swap');

* {
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

button,
input,
optgroup,
select,
a,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background: none;
  border: none;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.main_section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(26,29,35);
  background: linear-gradient(0deg, rgba(26,29,35,1) 0%, rgba(26,29,35,1) 25%, rgba(47,52,64,1) 100%);
  /* background: linear-gradient(0deg, rgb(8, 18, 37) 0%, rgb(8, 18, 37) 25%, rgb(17, 38, 77) 100%); */
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}

/* TITLE PAGE */

.title_img_background {
  /* align-self: stretch;
  display: flex;
  flex-grow: 1;
  align-items: center;
background-image: radial-gradient(circle, rgba(154,171,207,1) 0%, rgba(154,171,207,1) 15%, rgba(134,148,179,1) 15%, rgba(134,148,179,1) 30%, rgba(106,116,140,1) 30%, rgba(106,116,140,1) 45%, rgb(85, 93, 112) 45%, rgb(85, 93, 112) 60%, rgb(63, 69, 83) 60%, rgb(63, 69, 83) 75%, rgba(0, 0, 0, 0) 75%);
background-repeat: no-repeat; */
/* background-origin: 50% 50%; */
 /* background-position: -500px 0; */
}

.pencil_img {
  /* transform: scaleX(-1); */
  margin-left: 100px;
  z-index: 1;
  transition: all 0.2s;
  /* background: rgb(154,171,207);
  overflow: visible;
  background: radial-gradient(circle, rgba(154,171,207,1) 0%, rgba(154,171,207,1) 25%, rgba(134,148,179,1) 25%, rgba(134,148,179,1) 50%, rgba(106,116,140,1) 50%, rgba(106,116,140,1) 75%, rgba(76,83,100,1) 75%, rgba(47,52,64,1) 100%); */
}

.title_section {
  height: 100%;
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.name_title {
  font-weight: 100;
  margin-right: 100px;
  text-align: right;
  font-size: 6em;
  z-index: 1;
}

/* ABOUT ME  */

.outer__content_container {
  height: 100%;
  width: 100%;
}

.inner_container {
  height: 80%;
  width: 80%;
  background: white;
  color: black;
}


/* NEXT PAGE */

.arrow_container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
}

.arrow_container:hover .upper_chevron {
  top: 20px;
} 


.upper_chevron {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid white;
}

.upper_chevron {
  position: relative;
  top: 10px;
  z-index: 100;
  transition: all 0.2s;
}

/* BURGER MENU */

.burger_menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;
  /* margin-top: 50px;
  margin-right: 50px; */
}

.burger_menu:hover {
  transform: scale(1.1);
}


.burger_line {
  transition: all 0.2s;
  height: 2px;
  background-color: white;
}

.burger_line_top {
  margin-bottom: 8px;
}
.burger_line_bot {
  margin-top: 8px
}

.burger_line_top_clicked {
  margin-bottom: -1px;
  transform: rotate(45deg)
}

.burger_line_bot_clicked {
  margin-top: -1px;
  transform: rotate(-45deg)
}

/* PERSONAL LINKS */

.personal_links {
  position: absolute;
  top: 50px;
  left: 50px;
  /* color: white; */
}

.personal_links li {
  font-size: 2em;
  transition: all 0.2s;
  cursor: pointer;
  color: rgba(255,255,255, 0.4);
}

.personal_links li:hover {
  color: rgba(255,255,255, 1);
}

/* MENU */

.menu_overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  left: 0;
  width: 100vw;
  height: 0vh;
  overflow: hidden;
  z-index: 2;
}

.menu_overlay_open {
  height: 100vh;
}

.menu_list {
  height: 100%;
  color: white;
  /* justify-content: space-evenly; */
  display: flex;
  flex-direction: column;
}

.menu_list > li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  flex-grow: 1;
  cursor: pointer;
  transition: all 0.1s;
}

.menu_list > li:hover {
  display: flex;
  justify-content: center;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  align-items: center;
  flex-grow: 1;
}