@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --pale_blue_gray: #666A86;
  --pale_blue: #C9E4E7;
  --dark_maroon: #301014;

  --muted_pink:#A53860;

  --dark_blue: #242430;

  --floral_lavender: #AA7DCE;

  --indian_red: #E15554;
  --pastel_violet: #7768AE;
  --pastel_green: #3BB273;

  --mid_lavender: #71697A;
  --pale_teal: #D0E1D4;

  --primary_background: var(--dark_blue);
  --secondary_background: ;
  --primary_accents: var(--indian_red);
  --primary_text: var(--indian_red);
  --secondary_text: ;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  box-sizing: border-box;
  font-weight: 300;
}

button,
input,
optgroup,
select,
a,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background: none;
  border: none;
}

a {
  color: inherit;
  
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  background: var(--primary_background);
}

.canvas {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  pointer-events: none;
  display: block;
}

.page_header {
  /* position: absolute; */
  /* transition: all 0.01s; */
  position: fixed;
  font-family: 'Raleway', sans-serif;
  top: 50vh;
  /* top: calc(var(--vh, 1vh) * 50); */
  
  transform: translateY(-50%);
  right: 100px;
}

.page_title {
  font-weight: 100;
  text-align: right;
  font-size: 6em;
  color: var(--primary_text);
}

.page_container {
  display: flex;
  justify-content: center;
  /* overflow: hidden; */
  font-family: 'Raleway', sans-serif;
}

.writings_container {
  /* height: 100vh; */
  /* overflow: scroll; */
  background-color: #fff;
  width: 100%;
  padding: 100px 0 0 0;
  text-align: justify;
  box-shadow: 0px 63px 154px -20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.writing_excerpt {
  padding: 0 100px 0 100px;
}

.hidden {
  display: none;
}

.tags_container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.tags_container > li {
  flex: 1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: rgb(235, 235, 235)
  /* border-right: 1px solid rgba(1, 1, 1, 0.5); */
}

.tags_container > li:hover {
  background: #fff
}

.tags_container > .tag_selected {
  background: #fff;
}

.section_title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 100px;
  /* margin-left: -50px; */
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;

}

.section_title_line {
  display: block;
  margin-right: 50px;
  height: 2px;
  width: 80px;
  background-color: var(--primary_accents);
}

.header_first_letter {
  color: var(--floral_lavender);
  font-weight: 800;
}

.writing_excerpt {
  text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  font-family: 'Lato', sans-serif;
}

/* SCROLL TAG */

.scroll_tag {
  position: fixed;
  bottom: 0px;
  left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll_tag_text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: -1px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: var(--primary_text);
}

.scroll_tag_line {
  background-color: var(--primary_accents);
  height: 50px;
  width: 1px;
}

/* ABOUT ME */

.about_me_section {
  padding: 0 0 100px 0;
}

.about_me_text_content {
  padding: 0px 100px 0 100px;
}

/* Burger Menu */

.burger_menu {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;
  /* margin-top: 50px;
  margin-right: 50px; */
}

.burger_menu:hover {
  transform: scale(1.1);
}


.burger_line {
  transition: all 0.2s;
  height: 2px;
  background-color: var(--primary_accents);
}

.burger_line_top {
  margin-bottom: 8px;
}
.burger_line_bot {
  margin-top: 8px
}

.burger_line_top_clicked {
  margin-bottom: -1px;
  transform: rotate(45deg)
}

.burger_line_bot_clicked {
  margin-top: -1px;
  transform: rotate(-45deg)
}

/* PERSONAL LINKS */

.personal_links {
  position: fixed;
  top: 44px;
  left: 50px;
  z-index: 1;
  /* color: white; */
}

.personal_links li {
  font-size: 2em;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--primary_text);
  opacity: 0.4;
}

.personal_links li:hover {
  opacity: 1;
}

.name_tag {
  position: fixed;
  top: 50px;
  left: 100px;
  font-family: 'Raleway', sans-serif;
  color: var(--primary_text);
  font-size: 1.2em;
  z-index: 1;
}

/* MENU */

.menu_overlay {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  left: 0;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);

  height: 0vh;
  height: calc(var(--vh, 1vh) * 0);

  overflow: hidden;
  z-index: 2;
}

.menu_overlay_open {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.menu_list {
  height: 100%;
  /* color: var(--primary_text); */
  /* justify-content: space-evenly; */
  display: flex;
  flex-direction: column;
}

.menu_list > li {
  display: flex;
  /* color: var(--primary_text); */
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  flex-grow: 1;
  /* cursor: pointer; */
  transition: all 0.1s;
}

.menu_list > li > div {
  transition: all 0.2s;
  color: white;
  cursor: pointer;
}

.menu_list > li > div:hover {
  text-shadow: 4px 4px var(--primary_text);
  transform: translate(-4px, -4px);
}

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */

  .quick_nav {
    bottom: 50px;
    left: calc(50vw - 40px);
    left: calc((var(--vw, 1vw) * 50) - 40px);

    /* width: 100vw; */
    display: flex;
    justify-content: center;
    height: 50px;
    top: auto;
    transform: rotate(-90deg)
  }

  .quick_nav_buttons:hover {
    height: 30px;
    width: auto;
  }

  .quick_nav_line_long {
    height: 30px;
    width: auto;
  }

/* 
  .quick_nav_list {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
  } */
  
}

@media (max-width: 767px) {
  
  /* CSS */

  .burger_menu {
    width: 40px;
  }

  .burger_line_top {
    margin-bottom: 5px;
  }

  .burger_line_bot {
    margin-top: 5px;
  }

  .burger_line_top_clicked {
    margin-bottom: -1px;
  }

  .burger_line_bot_clicked {
    margin-top: -1px;
  }

}

@media (max-width: 560px) {
  
  /* CSS */

  .page_title {
    font-size: 4em;
    /* margin: 0; */
    text-align: center;
  }

  .page_header {
    /* justify-content: center; */
    right: 50vw;
    right: calc(var(--vw, 1vw) * 50);

    /* transform: translate() */
    right: auto;
  }

  .page_title {
    transform: translateX(calc(50vw - 50%));
    transform: translateX(calc((var(--vw, 1vw) * 50) - 50%));
  }

  .section_title {
    font-size: 1.5em;
    margin: 0 0 50px 0;
  }

  .writings_container {
    padding: 50px 0 0 0;
  }

  .about_me_section {
    padding: 0 0 50px 0;
  }

  .about_me_text_content {
    padding: 0 50px;
  }

  .burger_menu {
    width: 30px;
  }

  .burger_line_top {
    margin-bottom: 3px;
  }

  .burger_line_bot {
    margin-top: 3px;
  }

  .burger_line_top_clicked {
    margin-bottom: -1px;
  }

  .burger_line_bot_clicked {
    margin-top: -1px;
  }


}

@media (max-width: 390px) {
  
  .section_title {
    font-size: 1.2em;
  }

  .section_title_line {
    width: 50px;
    margin-right: 20px;
  }

  .about_me_text_content {
    padding: 0 30px;
  }

}