@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Raleway:wght@100;200;300&display=swap');

:root {
  --pale_blue_gray: #666A86;
  --pale_blue: #C9E4E7;
  --dark_maroon: #301014;

  --muted_pink:#A53860;

  --floral_lavender: #AA7DCE;
  /* --floral_lavender: #8663a3; */
  /* --floral_lavender: #c28fec; */

  --indian_red: #E15554;
  --pastel_violet: #7768AE;
  --pastel_green: #3BB273;

  --mid_lavender: #71697A;
  --pale_teal: #D0E1D4;

  --primary_background: var(--pale_blue);
  --secondary_background: ;
  --primary_accents: var(--indian_red);
  --primary_text: var(--indian_red);
  --secondary_text: ;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
  /* box-sizing: border-box; /* ! TURNING THIS ON AFFECTS THE QUICK NAV - FIX LATER */
}

button,
input,
optgroup,
select,
a,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  background: none;
  border: none;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  /* height: 100%;
  width: 100%; */
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.main_section {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgb(26,29,35);
  background: linear-gradient(0deg, rgba(26,29,35,1) 0%, rgba(26,29,35,1) 25%, rgba(47,52,64,1) 100%);
  /* background: linear-gradient(0deg, rgb(8, 18, 37) 0%, rgb(8, 18, 37) 25%, rgb(17, 38, 77) 100%); VIBRANT BLUE */ 
  background: var(--primary_background);
  /* background: linear-gradient(0deg, #4F2C1DFF 0%, #4F2C1DFF 25%, rgb(131, 73, 49) 100%); */
  font-family: 'Raleway', sans-serif;
  color: var(--primary_text);
}

.outer_content_container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  color: var(--primary_text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.section_image_container {
  transition: all 0.8s cubic-bezier(.55,.08,.43,.95);
  transform: translate(300px, 20px);
  opacity: 0;
}

.section_image {
  position: relative;
  height: 400px;
  width: 400px;
  /* opacity: 0; */
  background:  url('../assets/about_me.jpg');
  background-position: 50% 100%;
  background-size: cover;
  /* box-shadow: 5px 5px 22px 8px rgba(0,0,0,0.2); */
  box-shadow: 0px 63px 154px -20px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
}

.animation_rightside {
  transform: translate(30px, 20px);
  opacity: 1;
}

.section_title_container {
  transform: translate(-300px, -100px);
  opacity: 0;
  transition: all 0.8s;
  transition-delay: 0.2s;
  display: inline-block;
}

.section_title {
  display: inline-block;
  font-size: 3em;
  transition: all 0.8s;
  /* transition-delay: 0.2s; */
  transition: all 0.1s;
  color: var(--primary_text);
  cursor: pointer;
  padding: 5px 10px;
  border: 2px solid var(--primary_accents);
  border-radius: 20px;
}

.section_title:hover {
  transform: translate(-4px, -4px);
  text-shadow: 4px 4px var(--floral_lavender);
  box-shadow: 4px 4px var(--floral_lavender);
  /* text-shadow: 4px 4px #3F826D;
  box-shadow: 4px 4px #3F826D; */
}

.animation_leftside {
  transform: translate(-30px, -100px);
  opacity: 1;
}


/* TITLE PAGE */


.title_section {
  height: 100%;
 width: 100%;
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.name_title {
  font-weight: 100;
  margin-right: 100px;
  text-align: right;
  font-size: 6em;
  z-index: 1;
  color: var(--primary_text);
}


/* ABOUT ME  */

.about_me_image {
  background-image: url('../assets/about_me.jpg');
}

/* MY WORK */

.my_work_image {
  background-image: url('../assets//fifty_shades.jpg');
}
/* CONTQACT ME */
/* PERSONAL LINKS */


.contact_inner {
  width: 200px;
  display: flex;
  justify-content: center;
}

.contact_title {
  pointer-events: none;
}

.personal_links {
  margin-top: 10px;
  /* position: absolute; */
  /* top: 50px; */
  /* left: 50px; */
  /* color: white; */
}

.personal_links > ul {
  display: flex;
  justify-content: space-evenly;
}

.personal_links li {
  font-size: 2.5em;
  transition: all 0.2s;
  cursor: pointer;
  color: var(--primary_text);
  /* opacity: 0.4; */
  opacity: 1;
}

.personal_links li i {
  transition: all 0.2s;
}

.personal_links li i:hover {
  text-shadow: 4px 4px  var(--floral_lavender);
  transform: translate(-6px, -6px);
  /* text-shadow: 4px 4px var(--floral_lavender);
  box-shadow: 4px 4px var(--floral_lavender); */
  /* opacity: 1; */
}

.contact_image {
  background-image: url(../assets/contact_me.jpg);
}

/* NEXT PAGE */

/* .arrow_container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  cursor: pointer;
}

.arrow_container:hover .upper_chevron {
  top: 20px;
} 


.upper_chevron {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid var(--primary_accents);
}

.upper_chevron {
  position: relative;
  top: 10px;
  z-index: 100;
  transition: all 0.1s;
} */

/* BURGER MENU */

/* .info_bar_container {
  position: absolute;
  top: 50px;
  width: 100vw;
  display: flex;

} */

.burger_menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 50px;
  height: 20px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 3;
  /* margin-top: 50px;
  margin-right: 50px; */
}

.burger_menu:hover {
  transform: scale(1.1);
}


.burger_line {
  transition: all 0.2s;
  height: 2px;
  background-color: var(--primary_accents);
}

.burger_line_top {
  margin-bottom: 8px;
}
.burger_line_bot {
  margin-top: 8px
}

.burger_line_top_clicked {
  margin-bottom: -1px;
  transform: rotate(45deg)
}

.burger_line_bot_clicked {
  margin-top: -1px;
  transform: rotate(-45deg)
}

/* Name Tag */

.name_tag {
  position: absolute;
  top: 50px;
  left: 50px;
  font-family: 'Raleway', sans-serif;
  color: var(--primary_text);
  font-size: 1.2em;
}

/* MENU */

.menu_overlay {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
  left: 0;
  width: 100vw;
  height: 0vh;
  overflow: hidden;
  z-index: 2;
}

.menu_overlay_open {
  height: 100vh;
}

.menu_list {
  height: 100%;
  /* color: var(--primary_text); */
  /* justify-content: space-evenly; */
  display: flex;
  flex-direction: column;
}

.menu_list > li {
  display: flex;
  /* color: var(--primary_text); */
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  flex-grow: 1;
  /* cursor: pointer; */
  transition: all 0.1s;
}

.menu_list > li > div {
  transition: all 0.2s;
  color: white;
  cursor: pointer;
}

.menu_list > li > div:hover {
  text-shadow: 4px 4px var(--primary_text);
  transform: translate(-4px, -4px);
}

/* QUICK NAV */

.quick_nav {
  position: absolute;
  height: 80px;
  top: calc(50vh - 40px);
  left: 50px;
}

.quick_nav_list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quick_nav_line {

  background: var(--primary_accents);
  display: block;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.quick_nav_buttons:hover {
  width: 50px;
}

.quick_nav_buttons {
  height: 2px;
  /* background: white; */
  width: 30px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 3px 0px;
}

.quick_nav_line_long {
  width: 50px;
}

@media (max-width: 767px) {
  
  /* CSS */

  .quick_nav {
    bottom: 50px;
    left: 50vw;
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    height: 50px;
    top: auto;
    transform: rotate(-90deg) translateY(-50%)
  }

  .quick_nav_buttons:hover {
    height: 30px;
    width: auto;
  }

  .quick_nav_line_long {
    height: 30px;
    width: auto;
  }

/* 
  .quick_nav_list {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
  } */
  
}

@media (max-width: 560px) {
  
  /* CSS */

  .name_title {
    font-size: 4em;
    margin: 0;
    text-align: center;
  }

  .title_section {
    justify-content: center;
  }

  .section_image {
    height: 300px;
    width: 300px;
  }

  .section_title {
    font-size: 2em;
  }

  .personal_links li {
    font-size: 2em;
  }

  .animation_rightside {
    transform: translate(0,0)
  }

  .animation_rightside.contact_section_image_container {
    transform: translate(0,30px)
  }

}

@media (max-width: 370px) {
  
  .section_image {
    height: 200px;
    width: 200px;
  }
  
  .section_title {
    font-size: 1em;
  }

  .personal_links li {
    font-size: 1.2em;
  }

}